<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__BINARY__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>WRITING_COACH_CONFIG</key>
    <string>__CONFIG__</string>
    <key>RUST_LOG</key>
    <string>info</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__STDOUT__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR__</string>
</dict>
</plist>
